<footer>

  <div class="conteiner">
    <div class="redes">
      <p class="logo"> La France</p>
      <ul>

        <a href="" title="Facebook">
          <img width="20px" height="20px" src="../../assets/facebook.png" alt="">
        </a>
        <a target="_blank" href="https://linkedin.com/" title="linkedin">
          <img width="20px" height="20px" src="../../assets/linkedin.png" alt="">
        </a>

        <a target="_blank" href="https://youtube.com/" title="Youtube">
          <img width="20px" height="20px" src="../../assets/youtube.png" alt="">
        </a>

        <a target="_blank" href="https://instagram.com/" title="Instagram">
          <img width="20px" height="20px" src="../../assets/logoinstagram.png" alt="">
        </a>


      </ul>
    </div>

    <div class="links">
      <div class="info">
        <li class="nav-links" id="tInfo"><a href="">ATENDIMENTO AO CLIENTE</a></li>
        <li class="nav-links"><a href="">Meu Perfil</a></li>
        <li class="nav-links"><a href="">Serviços Ao Cliente</a></li>
        <li class="nav-links"><a href="">Informações sobre envio</a></li>
      </div>
      <div class="sobre">
        <li class="nav-links" id="tSobre"><a href="">SOBRE A LA FRANCE</a></li>
        <li class="nav-links"><a href="">Nossa História</a></li>
        <li class="nav-links"><a href="">Informações da Marca</a></li>
        <li class="nav-links"><a href="">Carreira</a></li>
      </div>
    </div>
  </div>

</footer>